.app, .captions {
  display: flex;
  justify-content: flex-start;
  height: 400px;
  width: 600px;

}

.generator {
  display: flex;
  flex-direction: column;
}

.generator input {
  color: red;
  width: 400px;
  margin-left: 0;
}

.image {
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: center;

}

.captions {
  display: flex;
  position: absolute;
  z-index: 100;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 600px;
  font-size: 35px;
  color: white;
  text-transform: uppercase;
}

.top-caption {
  margin-top: 10px;
  padding-bottom: 250px;
}

.bottom-caption {
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

button {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  text-transform: uppercase;
}
