.app {
    display: flex;
    border: 2px solid red;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.app, .captions {


  /* height: 400px;
  width: 600px;
  max-height: 400px;
  max-width: 600px; */
}

.generated-meme {
  display: flex;

  justify-content: flex-end;
  border: 2px solid purple;
  /* height: 400px;
  width: 600px;
  max-height: 400px;
  max-width: 600px; */
}


.generator {
  display: flex;
  flex-direction: column;

}

.generator input {
  width: 400px;
  margin-left: 0;
}

.image {
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: center;
  margin-right: 0;
}

.captions {
  display: flex;
  position: absolute;
  z-index: 100;
  flex-direction: column;
  justify-content: center;

  /* align-items: center; */
  /* height: 400px;
  width: 600px; */
  font-size: 15px;
  color: white;
  text-transform: uppercase;
}

.top-caption {
  margin: 0;
  padding: 0;
  /* margin-top: 10px; */
  /* padding-bottom: 260px; */
}

.bottom-caption {
  margin: 0;
  padding: 0;
  /* margin-bottom: 30px;
  margin-top: 0px;
  display: flex; */

  color: red;
}

button {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  text-transform: uppercase;
}
